$color_1: #241d19;
$color_2: #ca5400;
$color_3: #fff;
$color_4: #262626;
$color_5: #D8D2C2;
$color_6: #f9f9f9;
$color_7: #434343;
$color_8: #949092;
$background-color_1: #D8D2C2;
$background-color_2: #241d19;
$background-color_3: #ca5400;
$background-color_4: #262626;
$background-color_5: rgba(230, 230, 230, 0.6);
$background-color_6: rgba(0, 0, 0, 0.1);
$background-color_7: #bdb49b;