.banner-novedades {
	width: 100%;
	height: 360px;
	background-image: linear-gradient(transparent, #fffad2a3), url(../../assets/img/img-banner-novedades.jpeg);
	background-size: cover;
	object-fit: cover;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 50px;
	h1 {
		display: flex;
		flex-direction: column;
		max-width: 400px;
		margin: 0;
		margin: 1.5em auto;
		align-items: center;
		justify-content: center;
		font-size: 3.125rem;
		font-family: map-get($fuentes, principal);
		font-weight: 700;
		color: $color_4;
	}
}